<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.PanjutorialsDB1ConnectionString"
            connectionString="Data Source=DESKTOP-89VEM0J\DENISQL;Initial Catalog=PanjutorialsDB1;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>